.DS_Store
*.hex
*.pyc
TODO
Release/*.hex
Release/*.zip
Release/*.json
Console/build
build/*
.pio/*
.vscode/*
Debug*
rnoded.conf
eeprom
state/*
docker/workspace/*
!docker/workspace/build
Release/rnode_firmware_*.zip
Release/rnode_firmware_*.uf2
Release/*_debug.zip
